/* ==========================================================================
  Header
========================================================================== */


header {
  background: #b26140;
  .full-width {
    background: url(/img/structure/header-bg.jpg) no-repeat center center, linear-gradient( to right, #b26140 50%, #d6744c 50%);
    background-size: cover;
    height: 440px;
    color: #fff;
    animation: fadeIn .3s .1s both;
  }
  .subpage & {
    .full-width {
      height: 210px;
    }
  }
  h1 {
    margin: 80px 0 0 0;
    color: #fff;
    animation: fadeIn .3s 1.1s both;
  }
}