/* ==========================================================================
  Main
========================================================================== */


section {
  background: #fff;
  padding: 55px 0;
}

.instagram {
  a {
    display: block;
    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }
}