/* ==========================================================================
  Lists
========================================================================== */


ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  counter-reset: list;
  > li {
    position: relative;
    padding-left: 32px;
    &:before {
      counter-increment: list;
      content: "0" counter(list);
      color: inherit;
      font-weight: 400;
      display: inline-block;
      position: absolute;
      left: 0;
    }
  }
}

.list-inline {
  li {
    display: inline-block;
  }
}

.list-spacer-horz {
  li {
    margin-right: 15px;
    margin-left: 15px;
  }

  @include breakpoint(small) {
    li {
      padding-bottom: 10px;
    }
  }
}

.list-order-steps {
  text-align: left;
  margin: 0 -15px;
  li {
    display: block;
    width: 25%;
    float: left;
    position: relative;
    padding: 0 15px;
    &:after {
      content: " ";
      display: block;
      background: url(../img/icons/arrow-right.svg) center center;
      width: 26px;
      height: 20px;
      position: absolute;
      top: 27px;
      right: 7px;
    }
    .no-svg & {
      &:after {
        background: url(../img/icons/arrow-right.png) center center;
      }
    }
    &:last-of-type {
      &:after {
        display: none;
      }
    }
  }
  p {
    display: block;
    padding-right: 20px;
    font-size: 16px;
  }

  @include breakpoint(small) {
    margin: 0;
    li {
      width: 100%;
      padding: 0;
      &:after {
        display: none;
      }
    }
    p {
      padding: 0 0 30px;
    }
  }
}