/* ==========================================================================
  Button
========================================================================== */


.btn {
  display: inline-block;
  padding: 11px 24px 10px;
  margin-bottom: $lineHeight / 2;
  margin-top: $lineHeight / 2;
  min-height: $lineHeight;
  min-width: 200px;
  text-align: center;
  font-family: $fontHighlight;
  font-weight: 600;
  text-decoration: none;
  outline: 0;
  background: $colorBtn;
  color: #fff;
  text-transform: lowercase;
  border: 1px solid $colorBtn;
  border-radius: 30px;
  @include fontBold();
  &:hover,
  &:focus {
    background: darken($colorBtn, 15%);
    color: #fff;
    text-decoration: none;
  }

  &.btn--primary {
    font-size: 16px;
    padding: (($lineHeight / 2) - 1) 32px;
  }
  &.btn--secondary {
    font-size: 14px;
    padding: (($lineHeight / 2) - 1) 32px;
  }
}