/* ==========================================================================
  Forms
========================================================================== */

form {
  margin: 0;
  @include placeholder(#AAA);
  font-size: 16px;
  @include fontBold();
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    *height: 13px;
    *width: 13px;
}

input[type="search"] {
  appearance: none;
  border-radius: 0;
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, textarea {
  background: #ecedef;
  border: 1px solid #ecedef;
  outline: none;
  font-size: 16px;
  padding: 15px 10px;
  border-radius: 7px;
  transition: background .15s ease-in-out;
  &:hover,
  &:focus {
    background: lighten(#ecedef, 3%);
  }
}

textarea {
  resize: none;
}

label {
  display: block;
  &.error {
    @include fontDefault();
    text-transform: uppercase;
    color: #FF4A00;
    font-size: 14px;
    animation: growHeight .2s both;
  }
}

.form-row {
  width: 100%;
  margin: 0 0 10px;
  @include clearfix();
  &:last-of-type {
    margin: 0;
  }
  .col {
    width: 50%;
    float: left;
    &:first-of-type {
      padding-right: 10px;
    }
    &:last-of-type {
      padding-left: 10px;
    }
  }
}

.form-contact {
  &.valid {
    .btn {
      background: $colorBtn;
      border-color: $colorBtn;
      pointer-events: auto;
      cursor: pointer;
      &:hover,
      &:focus {
        background: darken($colorBtn, 15%);
        color: #fff;
      }
    }
  }
  input, textarea {
    display: block;
    width: 100%;
    position: relative;
    z-index: 2;
  }
  .btn {
    width: auto;
    float: right;
    margin-top: 20px;
    background: #bec3cc;
    border-color: #bec3cc;
    color: #fff;
    cursor: default;
    pointer-events: none;
  }
  label {
    &:not(.error) {
      transform: translateY(30px) scale(0.95);
      z-index: 1;
      position: relative;
      transition: transform .2s ease-in-out;
    }
  }
  .focus {
    label {
      transform: translateY(0) scale(1);
    }
  }
}



