/* ==========================================================================
  Links
========================================================================== */


a {
  color: $colorLink;
  text-decoration: none;
  transition: all .15s ease;
  &:hover,
  &:focus {
    color: darken($colorLink, 15%);
  }
}

